name: KillSeat Deploy

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      #도커허브 로그인
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      #이미지 build 및 push
      - name: Build and push
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/killseat-backend ./backend
          docker build -t ${{ secrets.DOCKER_USERNAME }}/killseat-frontend ./frontend
          docker push ${{ secrets.DOCKER_USERNAME }}/killseat-backend
          docker push ${{ secrets.DOCKER_USERNAME }}/killseat-frontend

      #docker-compose.yml을 서버로 전송
      - name: Copy docker-compose.yml to server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "docker-compose.yml"
          target: "~/app"

      #서버에 명령 내리기
      - name: SSH Remote Commands
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/app
            docker-compose down
            docker-compose pull 
            docker-compose up -d 
            docker image prune -af